* {
  box-sizing: border-box;
}
.nav {
  background: gray;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-text {
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.sidebar {
  flex: 1;
  height: 100vh;
  border-right: 1px solid black;
}
.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}
.input-group {
  background-color: white;
  width: 100%;
  position: relative;
  display: inline-block;
}
.lable {
  color: black;
  background-color: inherit;
  font-size: 15px;
  position: absolute;
  padding: 0 2px;
  left: 11px;
}
.lable-top {
  top: calc(0% - 0.7em);
}
.lable-bottom {
  top: calc(100% - 0.8em)
}
.input {
  width: 100%;
  padding: 8px 13px;
  border: 2px solid black;
  border-radius: 10px;
}
.input-pattern {
  font-size: 20px;
}
.input-text-group {
}
.input-text {
  position: absolute;
  font-size: 15px;
  height: 400px;
  resize: vertical;
}
.input-text-trasperent {
  z-index: 2;
  color: transparent;
  background: transparent;
}
.text-highligted {
  z-index: 1;
}
