* {
  box-sizing: border-box;
}
.nav {
  background: gray;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-text {
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.sidebar {
  flex: 1;
  height: 100vh;
  border-right: 1px solid black;
}
main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}
/* update to nesting when its fully supported */
.lua-pattern {
  background-color: white;
  width: 100%;
  position: relative;
}
.lua-pattern label {
  background-color: inherit;
  font-size: 15px;
  position: absolute;
  padding: 0 2px;
  left: 14px;
  top: calc(100% - 0.7em);
}
.lua-pattern input {
  width: inherit;
  padding: 8px 13px;
  border: 2px solid black;
  border-radius: 10px;
}
.lua-text{
  background-color: white;
  width: 100%;
  position: relative;
}
.lua-text label {
  background-color: white;
  font-size: 15px;
  position: absolute;
  padding: 0 2px;
  left: 14px;
  top: calc(0% - 0.5em);
}
.lua-text-highlighted {
  position: relative;
  width: inherit;
  border: 2px solid black;
  border-radius: 10px;
}
.lua-text-highlighted textarea, section {
  font-size: 15px;
  font-family: sans-serif;
  padding: 10px 10px;
  margin: 0;
  border: 0;
}
.lua-text-highlighted textarea {
  width:inherit;
  height: 350px;
  resize: vertical;
  border-radius: inherit;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  z-index: 1;
}
.lua-text-highlighted section {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
}
.highlight-primary {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #0000FF;
  background-color: #00FFFF40;
}
.highlight-secondary {
  text-decoration: underline dotted orange 2px;
  background-color: transparent;
}
.highlight-error {
  color: red;
}
